@font-face {
  font-family: headerFont;
  src: url('/fonts/heading-font.otf');
}

@font-face {
  font-family: bodyFont;
  src: url('/fonts/body-font.otf');
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: headerFont;
}

:root {
  width: 100vw;
  font-family: bodyFont;
  font-size: .8rem;
  overflow-x: hidden;
  /* Variables */
  --text-color-main: rgba(0, 0, 0, 1);
  --text-color-secondary: rgba(255, 255, 255, 1);
  --theme-color-main: rgba(85, 98, 153, 1);
  --theme-color-secondary: rgba(213, 221, 236, 1);
}

.kerning{
  letter-spacing: .1em;
  text-transform: uppercase;
}

.main {
  position: relative;
  margin-top: 2rem;
}

.flex-vertical-align {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  align-items: center;
  text-align: center;
}

.wrapper__container {
  flex: 1;
  margin: 0 1rem 0 1rem;
  justify-content: center;
}

.wrapper__status {
  display: none;
  align-items: top;
  padding: .5em 1em .5em 1em;
  color: var(--text-color-secondary);
  background-color: var(--theme-color-main);
}

.is-new--true {
  display: inline-block;
}

.nav {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

::-webkit-scrollbar {
  background: transparent;
}

.nav li {
  margin-left: 2em;
  display: inline-block;
  cursor: pointer;
}

.nav li:first-child {
  margin-left: 1em;
}

.hero-image {
  width: 100%;
}

.content .content__body {
  flex: 3;
  text-align: left;
  min-width: 20em;
}

.content__image {
  padding: .5rem;
  max-height: 20rem;
  background-color: #fff;
  border: 1px solid #eee;
}

.anchor {
  position: relative;
  padding-bottom: 2rem;
}

.free {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 65%;
  bottom: unset;
  background-color: var(--theme-color-secondary)
}

@media screen and (max-width: 600px){
  .anchor{
    padding-bottom: 5rem;
  }

  .free{
    bottom: 0;
    height: 50%;
  }
}
