:root{
  --break-point-mobile: 400px;

  --text-color-main: rgba(0, 0, 0, 1);
  --text-color-secondary: rgba(255, 255, 255, 1);

  --theme-color-main: rgba(85, 98, 153, 1);
  --theme-color-secondary: rgba(213, 221, 236, 1);
}

* {
  /* outline: 1px solid red; */
}

.main {
  padding-top: 3rem;
}

.flex-vertical-align {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  align-items: center;
  /* grid-template-columns: repeat(12, 1fr); */
}

.wrapper__container {
  flex: 1;
  margin: 0 1rem 0 1rem;
  justify-content: center;
}

.is-new--true{
  top: 1rem;
  position: absolute;
  display: inline-block;
  padding: .5em 1em .5em 1em;
  color: var(--text-color-secondary);
  background-color: var(--theme-color-main);
}

.nav {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.nav li {
  padding-left: 2em;
  display: inline-block;
  cursor: pointer;
}

.nav li:first-child {
  padding-left: 0;
}

.hero-image {
  width: 100%;
}

.content .content__body{
  flex: 2;
  text-align: left;
  min-width: var(--break-point-mobile);
}

.content__image {
  padding: .5rem;
  max-height: 20rem;
  background-color: #fff;
  border: 1px solid #eee;
}

.anchor {
  position: relative;
}
.free {
  z-index: -1;
  position: absolute;
  width: 100%;
  height:65%;
  background-color: var(--theme-color-secondary)
}
